.admin-view-students-container {
    display: flex;
    height: 100vh;
  }
  
  .admin-view-students-container aside {
    width: 20%; 
    background-color: #2c3e50;
    color: white;
    padding: 10px;
  }
  
  .admin-view-students-container aside ul {
    list-style: none;
    padding: 0;
  }
  
  .admin-view-students-container aside ul li {
    margin: 15px 0;
  }
  
  .admin-view-students-container aside ul li a {
    color: white;
    text-decoration: none;
  }
  
  .admin-view-students-main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-view-students-section {
    width: 80%; 
    margin-left:40%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-view-students-section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-view-students-section th,
  .admin-view-students-section td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .admin-view-students-section th {
    background-color: #3498db;
    color: white;
    font-size: 16px;
  }
  
  .admin-view-students-section td {
    font-size: 14px;
    vertical-align: middle;
  }