
.educator-edit-course-container1 {
    display: flex;
    height: 100vh;
  }
  

  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    color: #f39c12;
  }
  

  .form-container2 {
    flex: 1;
    padding: 40px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .form-header1 {
    font-size: 40px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
  }
  
  
  .input-group2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  

  .input-wrappe2r {
    width: 45%;
    margin-right: 20px;
  }
  
  .input-wrappe2r:last-child {
    margin-right: 0;
  }
  

  .input-field {
    font-size: 22px;
    font-weight: 400;
    height: 33px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  

  .textarea-group2 {
    width: 78%;
  }
  
  .textarea-field {
    font-size: 22px;
    font-weight: 400;
    height: 83px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    resize: none;
  }

  .submit-button {
    font-size: 22px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }

  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .educator-course-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
  }

  .heading {
    background-color: #3498db;
    color: white;
    padding: 20px;
    width: 95%;
    margin-left: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .input:focus,
  .textarea:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 90%;
    max-width: 400px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  