.student-dashboard-container {
  display: flex;
  height: 100vh;
}

aside {
  width: 200px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 15px 0;
}

aside ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

aside ul li a:hover {
  text-decoration: underline;
}

.student-dashboard-main {
  flex: 1;
  padding: 20px;
}

.student-dashboard-main header h1 {
  background-color: #3498db;

  color: white;
  margin-left: -60px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}


.student-details {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-left: 40%;
  margin-top: 5%;
}

.student-details span {
  font-weight: bold;
  color: #007bff;
}

.student-details-section h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #555;
}